*{
    margin: 0px;
}
body{
    background-color: rgb(212, 212, 212);
}
footer{
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 20px;
}
footer h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 14px;
}
.top-header{
    background-color:black;
    padding:3%;
    text-align: center;
}
.title{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 2em;
    margin: 0;
}
.nav-bar{
    background-color: rgb(150, 150, 150);
    padding:20px;
    margin: 0px;
    justify-content: center;
}
.nav-bar ul{
    list-style-type: none;
    margin-left:0;
    padding: 0;
}
.nav-bar li{
    display: inline;
    padding-top:20px;
    padding-bottom:20px;
}
.nav-bar a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    margin-left:20px;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main-container{
   
}
.main-blog{
    margin-top:20px;
    margin-bottom: 50px;
    width: 90%;
    padding:2%;
    background-color: whitesmoke;
    border-right: 5px solid red;
    border-left: 5px solid red;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    box-sizing: border-box;
}
.main-blog h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.6em;
    line-height: 1.5em;
}
.float-blog{
    margin-top:20px;
    width: 90%;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.5em;
    overflow: hidden;

}
.float-blog-post{
    width: calc(33.33% - 20px);
    float: left;   
    padding: 1%;
    border-top: 5px solid red;
    margin: 5px;
    box-sizing: border-box;
}
@media(max-width:600px){
    .float-blog-post{
        width: 100%;
        float: none;
        height: auto;
        padding: 20px;
    }
    .float-blog{
        /* margin-top:20px;
        width: 100%;
        background-color: whitesmoke;
        line-height: 1.5em; */
    }
    .nav-bar li{
        display: block;
    }
}